#!/usr/bin/env python3
# {{ ansible_managed | comment }}
# Ansible facts for tuned

import sys
import os
import subprocess
import json

def run_command(cmd):
    retval = subprocess.Popen(cmd,
                              shell=True,
                              stdout=subprocess.PIPE).communicate()[0].decode('utf-8').strip()
    return retval

def iommu_is_supported():
    dmesg_out = run_command('dmesg')
    return 'iommu' in dmesg_out


def iommu_is_enabled():
    is_enabled = False
    with open(r'/etc/default/grub', 'r') as fp:
        lines = fp.readlines()
        for row in lines:
            if 'iommu' in row:
              is_enabled = True
              break
    return is_enabled

def main():
    facts = {}
    facts['iommu_is_supported'] = iommu_is_supported()
    facts['iommu_is_enabled'] = iommu_is_enabled()
    print(json.dumps(facts, sort_keys=False, indent=4, separators=(',', ' : ')))

if __name__== '__main__':
    main()
