#
# {{ ansible_managed }}
#
# DAOS server configuration file.
#

access_points: {{ daos_access_points | to_json }}
port: {{ daos_port }}
transport_config:
  allow_insecure: {{ daos_transport_config_allow_insecure | default(false) | bool | string | lower }}
  {% if not daos_transport_config_allow_insecure | bool %}
    # Location where daos_server will look for Client certificates
    client_cert_dir: {{ daos_transport_config_client_cert_dir }}
    # Custom CA Root certificate for generated certs
    ca_cert: {{ daos_transport_config_ca_cert }}
    # Server certificate for use in TLS handshakes
    cert: {{ daos_cert_server_cert }}
    # Key portion of Server Certificate
    key: {{ daos_cert_server_key }}
  {% endif %}

provider: {{ daos_server_provider }}
crt_timeout: {{ daos_server_crt_timeout }}

disable_vfio: {{ daos_server_disable_vfio }}
disable_vmd: {{ daos_server_disable_vmd }}
enable_hotplug: {{ daos_server_enable_hotplug }}
nr_hugepages: {{ daos_server_nr_hugepages }}
disable_hugepages: {{ daos_server_disable_hugepages }}
control_log_mask: {{ daos_server_control_log_mask }}
control_log_file: {{ daos_server_control_log_file }}
helper_log_file: {{ daos_server_helper_log_file }}
firmware_helper_log_file: {{ daos_server_firmware_helper_log_file }}
telemetry_port: {{ daos_server_telemetry_port }}

engines:
{% for engine in daos_server_engines %}
-
  targets: {{ engine.targets }}
  nr_xs_helpers: {{ engine.nr_xs_helpers }}
  first_core: {{ engine.first_core }}
  bypass_health_chk: {{ engine.bypass_health_chk }}
  fabric_iface: {{ engine.fabric_iface }}
  fabric_iface_port: {{ engine.fabric_iface_port }}
  log_mask: {{ engine.log_mask }}
  log_file: {{ engine.log_file }}

  env_vars:
{% for env_var in engine.env_vars %}
    - {{ env_var }}
{% endfor %}

  storage:
{% for item in engine.storage  %}
   -
{% for key, val in item.items()  %}
     {{ key }}: {{ val }}
{% endfor %}
{% endfor %}
{% endfor %}
